* {
    box-sizing: border-box;
}

html {
    font-size: 100%;

}

body {
    margin: 0% 2% 2% 2%;
    padding: 0% 2% 2% 2%;
    background-image: url(assets/COLOURBOX8788202-vers2.png);
    background-size: 100%;
    background-repeat: repeat;
}

/************************/
/*** headline styling ***/
/************************/

h1 {
    margin: 0;
    padding: 0;
}

h2 {}

h3 {}

/**************/
/*** footer ***/
/**************/

footer {
    text-align: center;
    padding: 5px 0;
}

/***********************/
/****** nav farge ******/
/***********************/

nav {
    color: black;
}

/**********************/
/******* splash *******/
/**********************/

#splash {}

/**********************/
/****** sections ******/
/**********************/

.sectionwrapper {
    background-color: #efaf92;
}

/************************/
/**** Hamburger meny ****/
/************************/

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #a03939;
    text-decoration: underline;
}

#menu a {
    display: block;
    /* This makes the menu vertical */
}

#menu {
    list-style-type: none;
    transition: transform .3s;
}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu a {
        display: inline-block;
        /* This makes the menu horisontal */

    }

    #splash {
        background-image: url(assets/splashbillede_final.png);
        width: 100%;
        height: 56.25vw;
        background-position: center;
        background-size: 100%;

    }

    #menu_kort {
        background-image: url(assets/menu_desktop.png);
        width: 100%;
        height: 3940px;
        background-size: 100%;
        background-position: absolute;
        background-repeat: no-repeat;
    }


}
