html {
	font-size: 100%;
}

body {
	margin: 2%;
	padding: 2%;
	background-color: #fff9f2;
}

/************************/
/*** headline styling ***/
/************************/

h1 {}

h2 {}

h3 {}

/**************/
/*** footer ***/
/**************/

footer {
	text-align: center;
	padding: 5px 0;
}

/***********************/
/****** nav farge ******/
/***********************/

nav {
	color: black;
}

/**********************/
/****** sections ******/
/**********************/

.sectionwrapper {
	background-color: #efaf92;
}

/************************/
/**** Hamburger meny ****/
/************************/

.hidden {
	/*    display: none;*/
	/*    transform: scale(0);*/
	transform: translateX(-100%);
	opacity: 0;
}

#menuknap {
	display: inline-block;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #a03939;
	text-decoration: underline;
}

#menu a {
	display: block;
	/* This makes the menu vertical */
}

#menu {
	list-style-type: none;
	transition: transform .3s;
	transform-origin: top left;
}

@media only screen and (min-width: 600px) {

	#menuknap {
		display: none;
	}

	.hidden {
		transform: translateX(0);
		opacity: 1;
	}

	#menu a {
		display: inline-block;
		/* This makes the menu horisontal */
	}

}
